.Select{
    position: relative;
    display: flex;
    max-height: 82px;
    margin-right: 10px;
    &__list{
        position: absolute;
        top: 10px;
        left: -80px;
        transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &__button {
        border: none;
        outline: none;
        background-color: transparent;
        font: 20px sans-serif;
        cursor: pointer;
    }
    &__currency {
        width: 150px;
        height: 30px;
        font: 18px Raleway;
        font-weight: 500;
        margin-bottom: 10px;
        border: none;
        background-color: transparent;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
}

ul{
    list-style: none;
}