.Product {
  width: 1100px;
  margin: 0 auto 20px;
  box-sizing: border-box;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  &__btn {
    position: absolute;
    top: 40%;
    background-color: transparent;
    border: none;
    z-index: 100;
    color: rgb(255, 255, 255);
    font: 28px Raleway;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
  &__info {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &_brand {
      font: 30px Raleway;
      font-weight: 600;
      color: var(--base-color);
      margin-bottom: 15px;
    }
    &_name {
      font: 30px Raleway;
      font-weight: 400;
      color: var(--base-color);
      margin-bottom: 15px;
    }
    &_price {
      font: 30px Raleway;
      font-weight: 700;
      color: var(--base-color);
      margin-bottom: 25px;
    }
  }
  &__attribute {
    max-width: 63px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 10px;
  }
  &__attributes {
    display: flex;
    flex-direction: row;
    &_name {
      font: 10px Raleway;
      line-height: 10px;
      margin-bottom: 2px;
    }
    &_attr {
      width: 63px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--base-color);
      box-sizing: border-box;
      font: 18px Source Sans Pro;
      font-weight: 400;
      color: var(--base-color);
    }
  }
  &__images {
    position: relative;
    width: 141px;
    height: 185px;
    overflow: hidden;
    &_wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  &__image {
    min-width: 141px;
    height: 185px;
    object-fit: contain;
  }
  &__amount {
    height: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    &_btn {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--base-color);
      font: 24px Raleway;
      color: var(--base-color);
      background-color: white;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        background-color: var(--base-color);
        color: white;
      }
    }
  }
}

.btn_disabled {
  display: none;
}
